{% load bootstrap4 %}
{% load get_settings from core_tags %}
{% load cache %}



<div class="row" data-actions="detail-product" >

    {% for obj in object_list %}
    {% cache 300 mainpage_product obj.id %}
    <div class="card-column col-6 col-sm-6 col-md-4 col-lg-3 w-20 my-3 d-flex align-items-stretch justify-content-around">
            <a class="hover card border-0 shadow-none card-product text-left" data-action="detail-product" data-id="{{ obj.id }}">
        <div class="card-img text-center d-flex align-items-center justify-content-center">
             <img class="img-fluid" src="{{ obj.image.url }}" style="max-height: 290px">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h6 class="font-weight-bold" >{{ obj.brand }}</h6>
                    <h6 class="font-weight-bold" >{{ obj.name }}</h6>
                    <h6>{{ obj.average_price }}{% get_settings 'CUR_CURRENCY' %}</h6>
                </div>
            </div>
        </div>
            </a>
    </div>
    {% endcache %}
    {% endfor %}
</div>


{% bootstrap_pagination page_obj size='small' %}